<ion-header no-border>
  <ion-navbar transparent hideBackButton>
    <button ion-button navPop icon-only left clear>
      <ion-icon name="back-button" id="back-button"></ion-icon>
    </button>
  </ion-navbar>
  <div class="page-header">
    <div *ngIf="folder">
      <ion-row>
        <ion-col class="header-labels">
            <span>
              Dossier sinistre n°
            </span>
        </ion-col>
        <ion-col class="header-labels right">
            <span class="declaration-date">
              Emis le <span class="capitalize">{{folder.declarationDate | date:'dd MMMM yyyy'}}</span>
            </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label no-margin class="title">
          {{folder.id | idPipe}}
        </ion-label>
      </ion-row>
    </div>
    <div *ngIf="!folder">
      <ion-row>
        <h1 class="not-found">
            Dossier Inexistant
        </h1>
      </ion-row>
    </div>
  </div>
</ion-header>
<ion-content class="content">
  <ion-grid *ngIf="folder">
    <ion-row>
      <ion-col col-6 class="label" no-padding>Date de survenance</ion-col>
      <ion-col col-5 offset-1 class="label" no-padding>Statut</ion-col>
    </ion-row>
    <ion-row class="margin-bottom-20">
      <ion-col col-6 class="value capitalize" no-padding>{{folder.occurrenceDate | date:'dd MMMM yyyy'}}</ion-col>
      <ion-col col-5 offset-1 class="value {{folder.status}}-text" no-padding>{{folderStatus[folder.status]}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="label" no-padding>Frais engagés</ion-col>
    </ion-row>
    <ion-row class="margin-bottom-20">
      <ion-col col-6 class="value" no-padding>{{folder.fees | dhPipe}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="label" no-padding>Date de remboursement</ion-col>
      <ion-col col-5 offset-1 class="label" no-padding>Montant remboursé</ion-col>
    </ion-row>
    <ion-row class="margin-bottom-20">
      <ion-col col-6 class="value capitalize" no-padding>{{folder.refundDate | date:'dd MMMM yyyy'}}</ion-col>
      <ion-col col-5 offset-1 class="value" no-padding>{{folder.refundedAmount | dhPipe}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <button *ngIf="folder" no-margin ion-button type="button" class="footer-button" block (click)="AddNewComplaint()">
    Effectuer une réclamation
  </button>
</ion-footer>


