@import "../../../theme/_app-variables.scss";
@import "../../../theme/_mixins.scss";
@import "../../../theme/fonts/fonts.scss";

ba-dashboard-section {
  .card {
    box-shadow: 0 4px 13px 0 rgba(106, 106, 119, 0.2);
  }

  .card-header {
    font-weight: bold;
  }

  .card-footer {
    margin: 6px 0;
  }

}
